# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
.coverage
.pytest_cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Misc
*.swp